{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<body>
  <header class="banner">
                <nav class="menu">
                    <div class="logo">
                           <h2> Book Store </h2>                 
                    </div>
                    <div class="menu-area">
                        <ul>
                            <a href="http://127.0.0.1:8000/home"><li>Home</li></a>
                            <a href="http://127.0.0.1:8000/auteur"><li>Auteurs</li></a>
                            <a href="http://127.0.0.1:8000/livre"><li>Livres</li></a>
                            <a href="http://127.0.0.1:8000/genre"><li>Genres</li></a>
                            <a href="http://127.0.0.1:8000/login"><li>Sign In</li></a>
                            <a href="http://127.0.0.1:8000/register"><li>Sign Up</li></a>
                        </ul>
                    </div>
                </nav>
                <div class="banner-text">
                    <p> Welcome to the Book Store website </p>
                    <h1> BOOK STORE </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ratione labore sit, dolorem vel et maxime? Pariatur incidunt, perspiciatis, enim hic vero ab reprehenderit assumenda, quod consequatur deserunt dicta quis.</p>
                    <a href="">Learn More</a>
                </div>
    </header>
       
</body>

{% endblock %}
