{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<body>
  <header class="banner">
                <nav class="menu">
                    <div class="logo">
                           <h2> Book Store </h2>                 
                    </div>
                    <div class="menu-area">
                        <ul>
                            <a href="http://127.0.0.1:8000/home"><li>Home</li></a>
                            <a href="http://127.0.0.1:8000/auteur"><li>Auteurs</li></a>
                            <a href="http://127.0.0.1:8000/livre"><li>Livres</li></a>
                            <a href="http://127.0.0.1:8000/genre"><li>Genres</li></a>
                            <a href="http://127.0.0.1:8000/login"><li>Sign In</li></a>
                            <a href="http://127.0.0.1:8000/register"><li>Sign Up</li></a>
                        </ul>
                    </div>
                </nav>
                <div class="banner-text">
                    <p> Welcome to the Book Store website </p>
                    <h1> BOOK STORE </h1>
                    <p>The wide scope of books offered by us incorporates fantasies, moral stories, showed story books, reference books, general learning books, sentence structure books, shading books, action books, sticker books and some more. Every one of these books are accessible in both English and frensh.
                    <br />
                    <br />
                    <a href="">Learn More</a>
                </div>
    </header>
       
</body>

{% endblock %}
