{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<body>
  <header class="banner">
                <nav class="menu">
                    <div class="logo">
                           <h2> Book Store </h2>                 
                    </div>
                    <div class="menu-area">
                        <ul>
                            <li>Home</li>
                            <li>Auteurs</li>
                            <li>Livres</li>
                            <li>Genres</li>
                            <li>Sign In</li>
                            <li>Sign Up</li>
                        </ul>
                    </div>
                </nav>
                <div class="banner-text">
                    <p> Welcome to the Book Store website </p>
                    <h1> BOOK STORE </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ratione labore sit, dolorem vel et maxime? Pariatur incidunt, perspiciatis, enim hic vero ab reprehenderit assumenda, quod consequatur deserunt dicta quis.</p>
                    <a href="">Learn More</a>
                </div>
    </header>
       
</body>

{% endblock %}
