body {
    margin : 0 ; 
    padding: 0;
    font-family: "times new roman";
    font-weight: 400;
    color : #fff ;
    line-height: 1.5;
}
.banner {
    height: 100vh;
    width: 100%;
    background-image: url(3.jpg); 
    -webkit-background-size : cover ; 
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

.banner ul{
    list-style: none;
    color: #fff ; 
}

.logo {
    margin-top: 10px;
    float: left;
    width: 45%;
    text-transform: uppercase;
}
.logo h2 {
    padding-left: 60px;
    color:#fff ;
}
.menu-area {
    width: 50%;
    display: block;
    overflow: hidden;
}
.menu-area ul li:hover {
    color: cyan;
    background-color: #5469d4;
    transition: .5s;
    cursor: pointer;
}
.banner ul li {
    margin-top: 10px;
    color : #fff ;
    float: left;
    font-size: 16px;
    display: block;
    padding:5px 18px;
}
.banner-text {
    width: 600px ;
    display: block;
    float: none;
    margin: 0 auto;
    position: relative;
    top: 120px;
    text-align: center;
}

.banner-text h1 {
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    border-right: 5px solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing:5px;
    animation: animation1 2.5s steps(40, end),
               animation2 .5s step-end infinite;
}
.banner-text p {
    color: rgba(255,255,255,0.7) ;
    font-size: 15px;
    padding: 15px;
    text-align: center;
}

.banner-text a {
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 50px;
    display: inline-block;
    font-size: 18px;
}

.banner-text a:hover {
    background: #fff ; 
    color: #000;
    transition: 1s; 
}
@keyframes animation1 {
    from{
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes animation2 {
    from, to{
        border-color: transparent;
    } 50%{border-color: #fff}
}